/db/*.bak

/pdp-core/target/maven-archiver/*.properties
/pdp-core/target/*.jar
/pdp-dal/target
/pdp-dal/*.iml

/pdp-model/lib
/pdp-model/target
/talen-etl-jobs/getProperties_0.3

/talen-etl-jobs/getProperties_0.2

/db/talon_db_2013-04-23.sql

*.iml
target/
.idea/
/talen-etl-jobs/getProperties_1.0
/talen-etl-jobs/getProperties_0.2
/talen-etl-jobs/getProperties_0.3
/talen-etl-jobs/getProperties_0.4
/talen-etl-jobs/getProperties_1.2
/talen-etl-jobs/getProperties_1.3
