@model dynamic

@{
    ViewBag.Title = "Sellers";
    Layout = "../Shared/_Layout.cshtml";
}

<p>
    This website and software was developed by a Real Estate investor who saw the need for there to be a single Nationwide property site to specifically show the nationwide inventory of wholesale and offmarket investment properties to the many investors who simply could not find legitimate properties on a nationwide scale. The ultimate goal was to connect investment property inventory sources to legitimate investors.
</p>
<p>
<h2>Let Nationwide go to work for you</h2>
<h3>Increase your property exposure and interest</h3>
	Nationwide will market your homes on our site as well as the sites of our partners, increasing your exposure and ability to move your property’s faster and generally for a higher price. This way you can focus on finding more investment properties.
</p>
<h3>Efficient</h3>
<p>
    Your offers will come with full details of the Buyer. Buyers may provide POF’s or may register as premium buyers and Nationwide will verify their ability to purchase. Nationwide will also provide the buyers with the right tools to make each transaction smooth and successful.
</p>
<p>@Html.ActionLink("Register today to see our database", "Register", "Account")</p>
<img src="~/Content/img/infographic-sellers.png" style="width:100%; height:auto;" alt="How the Seller Portal Works">
<p style="text-align:center;">@Html.ActionLink("Create a Sellers Account", "Register", "Account")</p>
<h2>Sellers FAQ</h2>
<dl>
    <dt>
        What property types can I sell on Nationwide?
    </dt>
    <dd>
        Residential & Commercial investment properties. Can be sold individually or in a pool of homes. Our main focus is Turn-Key cash-flowing residential.
    </dd>
    <dt>
        What is the cost to list my properties on Nationwide?
    </dt>
    <dd>
        Property listings on Nationwide is free for agents, brokers and the property owner. All fees are paid by the buyer.
    </dd>
    <dt>
        What is the cost to buy and sell on Nationwide?
    </dt>
    <dd>
        If you are buying a property on Nationwide you will pay a monthly User account fee to have access to our database and with the close of each property you will pay a buyers fee.
    </dd>
    <dt>
        What is the buyer agents commission?
    </dt>
    <dd>
        The commission is determined by the seller in the listing contract. The minimum commission is 6% to be split by both Agents. Seller may offer a higher commission.
    </dd>
    <dt>
        How do I add our property listings?
    </dt>
    <dd>
        First create a sellers account. Second you can choose between an automatic upload using our proprietary software integration with your property software tool OR manual upload using .csv.
    </dd>
    <dt>
        Why Nationwide
    </dt>
    <dd>
        <ul>
            <li>Free for the seller and his agent or broker</li>
            <li>The agent remains the agent and primary contact</li>
            <li>The designated agent and/or seller are in control with the review and approval process</li>
            <li>Your properties are marketed by our website as well as our many partner sites</li>
        </ul>
    </dd>
</dl>
<h2>About Nationwide Property Portal</h2>
